#canvas {
    width: 500px;
    height: 500px;
    border: 1px solid #000;
}



/**
Style for all elements
 */
rect {
    stroke: black !important;
}

circle {
    fill: white !important;
}

text {
    font-size: 20px !important;
}


/**
Custom style for preview elements
*/
.rectRight {
    stroke-dasharray: 5;
}

.circleArrow {
    stroke-dasharray: 5;
}
