#canvas {
    width: 500px;
    height: 500px;
    border: 1px solid #000;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/**
Style for all elements
 */
rect {
    fill: lightgrey !important;
    stroke-dasharray: black !important;
}

circle {
    fill: white !important;
}

text {
    font-size: 20px !important;
}

/**
Custom style for preview elements
*/
.rectRight {
    stroke-dasharray: 5;
}

.circleArrow {
    stroke-dasharray: 5;
}
